<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBAr</title>
</head>
<body>
<!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/">The Golden Ticket</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/movielist">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Login</a>
          </li>
        </ul>
          {% if user.is_authenticated %}
        <a class="text-dark" href="/logout">Logout</a>
        <a class="btn btn-sm btn-outline-primary m-2"  href=" ">{{user.username|title}}</a>
        {% else %}
          <a class="text-dark" href="/login">Login</a>
          <a class="btn btn-sm btn-primary m-2"  href="/signup">Register</a>
          {% endif %}
      </div>
    </nav>

</body>
</html>