{% extends "GoldenTicket/header.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
{% block content %}


<!--CTA-->
<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">WELCOME CINEPHILES!!</h1>
      <h5>Movie Database Website created by Group 4.</h5>
        <a class="btn btn-primary mt-2" href="/movies">Browse movies</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <img class ="img-fluid" src="{% static 'images/Dunkirk_cta.jpeg' %}" alt="Dunkirk">
    </div>
  </div>
</div>


 <div class="container py-3">
 <h2>Recently Watched</h2>
 <hr>
 <br>
      <div class="row">
        {% for m in movies %}
        <div class="col-sm-2 col-sm-offset-1 pb-4">
          <div class="card h-100 pb-4" style="border: none" >
             <img src="{{ m.movie_poster.url }}" class="card-img-top" alt="{{ m.movie_title}}" style="width: auto; height: 250px; object-fit: contain;">
            <br>
            <h4>{{m.movie_title}}</h4>
            <p class="text-muted">{{m.release_year}} | {{m.director}}</p>
            <span class = "fa fa-star checked"> {{ m.movie_rating }} </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
</body>
</html>