{% extends "GoldenTicket/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{% load crispy_forms_tags %}
    <!--User-->
	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
                    <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.first_name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ user.email }} </p>
			        </div>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
            <div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4">Movies in Cart</h2>
		    		</div>
		    	</div>
		      	<br>
		      	<div class="row">
			      	{% for m in user.profile.movie.all %}
				    	<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
			                <div class="h-100">
			                	<img src="{{ m.movie_poster.url }}" class="card-img-top" alt="{{ m.movie_title }}" style="width: auto; height: 225px; object-fit: scale-down;">
			                	<div class="card-body">
			                  		<h5 class="card-title">{{ m.movie_title }}</h5>
			                    	<p class="card-text text-muted" style="font-size:12px">{{m.release_year}} | {{m.director}}</p>
			                    	<a class="btn btn-warning">Buy now</a>
			                	</div>
			              	</div>
			            </div>
			    	{% endfor %}
		        </div>
		    </div>
		</div>
	</div>
{% endblock %}

</body>
</html>